/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #FF8DCB;
  --color-title: #FFC2E6;
  --color-text: #353430;
  --ui-color: #353430;
  --main-text-color: #353430;
  --accent-text-color: #353430;
  --body-color: #FFF1F7;
  --button-color: rgba(50, 49, 45, 0.4);
  --link-color: #353430;
  --text-shadow-accent: #FF0070;
  --backgorund-image: url(../images/cover-image-light.png);
}