/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #FF8DCB;
  --color-title: #FFC2E6;
  --color-text: #353430;
  --ui-color: #353430;
  --main-text-color: #353430;
  --accent-text-color: #353430;
  --backgorund-image: url(../images/cover-image-light.png);
}